div{
  text-align: center;
  background-color:rgb(190, 100, 100);
}

h1{
  color: antiquewhite;
}

Form{
  color: blueviolet;
  justify-content: center;
}

section{
  font-size: xx-large;
  color: blueviolet;
}